:root {
  --color-primary-default: #072ac8;
  --color-accent: #43d2ff;
  --color-primary-hover: #a2d6f9;
  --color-primary-tapped: #d1edff;
  --color-neutral-dark: #292e47;
  --color-neutral-medium: #6b708d;
  --color-neutral-light: #f2f4fc;
  --color-neutral-light-blue: #ecf7ff;
  --color-secondary: #ffc600;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background-color: var(--color-neutral-light);
  font-family: "Roboto", sans-serif;
  color: var(--color-neutral-medium);
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
h1,
h2,
h3,
h4 {
  color: var(--color-neutral-dark);
}
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}
h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}
h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.body-medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.body-regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.headline-regular {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}
.headline-medium {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
}
.caption-1-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.caption-2-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
a {
  color: var(--color-primary-default);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-hover);
}
a:active {
  color: var(--color-primary-tapped);
}

.button-primary {
  background-color: var(--color-primary-default);
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: white;
  border: none;
  padding: 15px 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logo {
  width: 60px;
  height: 18px;
}
nav > ul {
  list-style: none;
}
nav > ul > li {
  display: inline-block;
  margin-right: 60px;
}
nav > ul > li.last {
  margin-right: 0;
}
nav > ul > li > a {
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: var(--color-neutral-medium);
}
nav > ul > li > a.active {
  color: var(--color-primary-default);
}
#hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
  justify-content: space-between;
}
.hero-text {
  min-width: 475px;
  max-width: 530px;
}
.hero-text h1 {
  margin-bottom: 30px;
}
.hero-text p {
  width: 435px;
  margin-bottom: 40px;
}
.button-work {
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: var(--color-neutral-medium);
  border: none;
  padding: 15px 36px;
}
.hero-images {
  position: relative;
  min-width: 475px;
  max-width: 570px;
  height: 637px;
}
.hero-guy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-guy img {
  width: 100%;
  height: auto;
}
.hero-image1 {
  display: block;
  width: 190px;
  height: 216px;
  position: absolute;
  top: 25px;
  left: 0;
}
.hero-image2 {
  position: absolute;
  bottom: -13px;
  right: 0;
  width: 190px;
  height: 193px;
}
.hero-image2 img {
  width: 300px;
  height: auto;
}
@media (max-width: 1060px) {
  #hero {
    justify-content: space-around;
  }
  .hero-text {
    margin-bottom: 40px;
    text-align: center;
  }
  .hero-text p {
    width: auto;
  }
  .hero-image1,
  .hero-image2 {
    display: none;
  }
}

#client-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  margin-top: 130px;
}
#client-logos img {
  filter: grayscale(100%);
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .client-logo {
    text-align: center;
    flex-basis: 50%;
    margin-bottom: 40px;
  }
  .logo-amazon {
    display: none;
  }
}

#projects {
  margin-top: 200px;
}
#projects h3 {
  margin-bottom: 70px;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project {
  background-color: white;
  margin-bottom: 40px;
  max-width: 320px;
}
.project-title {
  color: var(--color-neutral-dark);
  margin-bottom: 10px;
}
.project-text {
  padding: 30px;
}
.project-description {
  margin-bottom: 54px;
}
.project img {
  width: 100%;
  height: 240px;
}

#testimonial {
  position: relative;
  margin-top: 204px;
  margin-left: -110px;
  margin-right: -110px;
  height: 622px;
  background-image: url(/assets/project-assets/testimonial-section/orbit.png);
  background-color: var(--color-neutral-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#testimonial h3 {
  color: var(--color-neutral-light);
}
.testimonial-text {
  color: var(--color-secondary);
  width: 596px;
  margin: 0 auto;
}
.testimonial-person {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  width: 171px;
  height: 50px;
}
.testimonial-person img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.testimonial-person > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37px;
  margin-top: auto;
  margin-bottom: auto;
}
.testimonial-person p {
  text-align: left;
  margin: 0;
}
.testimonial-person-name {
  font-size: 17px;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-primary-hover);
}
.testimonial-person-company {
  color: var(--color-neutral-light);
}
.memojis {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.memojis img {
  display: block;
  position: absolute;
  width: 150px;
  width: 150px;
}
.memoji-1 {
  top: 51px;
  left: 63px;
}
.memoji-2 {
  top: 51px;
  right: 72px;
}
.memoji-3 {
  left: 63px;
  bottom: 73px;
}
.memoji-4 {
  right: 72px;
  bottom: 73px;
}
@media (max-width: 1280px) {
  #testimonial {
    margin-left: -20px;
    margin-right: -20px;
  }
  #testimonial h3 {
    max-width: 400px;
    margin: 0 auto;
  }
  .testimonial-text {
    width: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .memojis {
    display: none;
  }
}

#services {
  margin-top: 196px;
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service {
  background-color: white;
  min-width: 200px;
  max-width: 340px;
  margin-right: 20px;
  padding: 40px 30px;
}
.service-icon {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
  background-color: var(--color-neutral-light-blue);
  margin-bottom: 30px;
}
.service-icon img {
  margin: 20px 20px;
  width: 40px;
  height: 40px;
}
.service-type {
  color: var(--color-neutral-dark);
}
.service p {
  margin-bottom: 36px;
}
@media (max-width: 800px) {
  .services {
    display: block;
  }
  .service {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

#newsletter {
  background-color: #ffc600;
  padding: 136px 110px 137px;
  margin-top: 200px;
  min-height: 500px;
  text-align: center;
}
#newsletter h3 {
  margin-bottom: 20px;
}
#newsletter p {
  color: var(--color-neutral-dark);
  margin-bottom: 50px;
}
.icon-mail {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 30px;
  height: 30px;
}
.button-subscribe {
  min-width: 198px;
  height: 80px;
}
#newsletter .email-input {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}
#newsletter input {
  padding-left: 70px;
  width: 393px;
  height: 80px;
  border: 0;
}
#newsletter input,
#newsletter input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: var(--color-neutral-dark);
}
.newsletter-text {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
@media (max-width: 895px) {
  #newsletter {
    margin-left: -20px;
    margin-right: -20px;
  }
  #newsletter input,
  .email-input,
  .button-subscribe {
    width: 100%;
  }
}

footer {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-circle img {
  display: block;
  width: 98.38px;
  height: 30px;
  margin-bottom: 30px;
}

.footer-links {
  width: 435px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-links a {
  color: var(--color-neutral-medium);
  flex-basis: 33%;
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-circle img {
    margin: 0 auto 20px;
  }
}

.project-types-single {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
#project {
  margin-top: 140px;
}
#project h1 {
  margin-bottom: 0;
}
#project .subheading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
#project .completed-date {
  color: var(--color-neutral-dark);
}
#project .completed-date span {
  color: var(--color-neutral-medium);
}
.project-header {
  width: 100%;
  height: 444px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}
.simplify-header {
  background-image: url("/assets/project-assets/projects-section/1.jpg");
}
.dashcoin-header {
  background-image: url("/assets/project-assets/projects-section/2.jpg");
}
.vectorify-header {
  background-image: url("/assets/project-assets/projects-section/3.jpg");
}

#contact {
  margin-top: 140px;
}
#contact fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin-bottom: 40px;
}
#contact fieldset fieldset {
  margin-bottom: 0;
}
#contact fieldset label {
  margin-bottom: 10px;
}
#contact input::placeholder,
#contact textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
}
#contact fieldset input,
#contact fieldset textarea {
  height: 70px;
  border: 0;
  padding: 20px;
  background-color: #6b708d1a;
}
#contact fieldset textarea {
  height: 200px;
  resize: none;
}
#contact fieldset.horizontal-split {
  flex-direction: row;
}
#contact fieldset.horizontal-split fieldset {
  flex-basis: 50%;
}
#contact fieldset.horizontal-split fieldset + fieldset {
  margin-left: 40px;
}
#contact button {
  width: 100%;
  height: 80px;
}
